.header {
  height: 100vh;
  @include respond(tab-port) {
    height: 90vh;
  }

  //50em  = 800px
  @media only screen and (max-width: 50em) {
    height: 80vh;
  }
  //43.75em  = 700px
  @media only screen and (max-width: 43.75em) {
    height: 70vh;
  }

  //600px
  @include respond(phone) {
    height: 60vh;
  }
  //500px
  @media only screen and (max-width: 31.25em) {
    height: 50vh;
  }

  position: relative;
  background-image:/* linear-gradient(
      105deg,
      transparent 50%,
      rgba($primary-color-light, 0.9) 50%,
      rgba($primary-color-dark, 0.9) 50%
    ),*/ 

   /* linear-gradient(to right,
    rgba($primary-color-light,.8),
    rgba($primary-color-dark,.8)),
    url('../img/hero-small.jpg');*/ linear-gradient(
      to right,
      rgba($primary-color-light, 0.8),
      rgba($primary-color-dark, 0.8)
    ),
    url("../img/hero-image.jpg");
  background-size: 100%;
  border-radius: 3px;
  background-repeat: no-repeat;
  color: $color-white;
  // box-shadow: 0 1.5rem 4rem rgba($color-black, 0.2);
}
.section-hero {
  /* display: flex;
  flex-direction: column;
  justify-content: center;
  //height: 80vh;
  margin-top: 15rem;*/
  position: absolute;
  top: 40%;
  @include respond(phone) {
    left: 50%;
    transform: translate(-40%, -50%);
    text-align: center;
  }
  width: 50vw;

  &__paragraph {
    font-size: 2rem;
  }
}
.who-we-are {
  display: flex;
  //flex-wrap: wrap;
  height: 30rem;
  grid-gap: 2rem;
  @include respond(tab-port) {
  }
  @include respond(phone) {
    flex-direction: column;
    margin-bottom: 40rem;
  } /*
  &__text {
    @include respond(middle-ground) {
      display: none;
    }
    &--inside {
      position: absolute;
      top: 0;
      left: 0;
      display: none;
      color: $color-white;
      @include respond(middle-ground) {
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }
  }*/

  &__image {
    width: 100%;
    flex: 0 0 40%;
    @include respond(middle-ground) {
      position: relative;
    }
    img {
      width: 100%;
    }
  }
}
.our-projects {
  display: grid;
  grid-template-columns: repeat(auto-fit, minMax(25rem, 1fr));
  grid-gap: 7rem;
}
.project {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  background-color: $color-grey-light-3;
  overflow: hidden;
  &__image {
    width: 100%;
    display: block;
    margin: 0 auto;
    grid-column: 1/-1;
  }

  &__title {
    display: block;
    //dimentions
    width: 80%;
    padding: 2.5rem;
    //color
    background-color: $primary-color-dark;
    //text
    color: white;
    text-align: center;
    //grid
    justify-self: center;
    align-items: center;
    grid-column: 1/-1;
    transform: translateY(-30%);
  }

  &__paragraph {
    padding: 2rem 1.5rem;
    grid-column: 1/-1;
  }

  &__btn {
    grid-column: 1/-1;
    text-align: center;
    background-color: $primary-color-light;
  }
}

.our-team {
  background: linear-gradient(
      to right,
      rgba($primary-color-light, 0.8),
      rgba($primary-color-dark, 0.8)
    ),
    url("../img/bg-1.jpg");
  background-image: cover;
  background-repeat: no-repeat;
  &__content {
    @media only screen and (max-width: 46.87em) {
      padding-left: 2rem;
      padding-right: 2rem;
    }
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    // width: 80%;
    grid-gap: 5rem;
    padding: 8rem 0;
  }
}

.contact-us {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 8rem;
  &__img {
    width: 80%;
    height: 80%;
    object-fit: cover;
    border-radius: 0.8rem;
    margin: auto;
    @include respond(phone) {
      display: none;
    }
  }
  @include respond(phone) {
    grid-template-columns: 1fr;
  }
}

.grid-cell {
}
