<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>تسجيل الدخول</title>
    <link rel="stylesheet" href="css/main.css" />
    <link rel="shortcut icon" type="image/png" href="img/favicon.png" />
  </head>
  <body>
    <section class="section-login">
      <form action="" class="form-login" data-aos="fade-up">
        <img src="img/logo-white.png" alt="" class="form-login__img" />
        <input type="text" / placeholder="إسم المستخدم"
        class="form-login__input">
        <input
          type="password"
          placeholder="كلمة المرور"
          class="form-login__input"
        />
        <button type="submit" class="form-login__input btn">
          تسجيل الدخول
        </button>
      </form>
    </section>
    <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
    <script>
      AOS.init({});
    </script>
  </body>
</html>
