<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>الأعضاء</title>
    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
    <link rel="stylesheet" href="css/main.css" />
    <link rel="shortcut icon" type="image/png" href="img/favicon.png" />
  </head>
  <body>
    <header class="navi-color">
      <div class="container--row">
        <nav class="navigation--disktop">
          <!--Navigation-->
          <img src="img/logo-white.png" alt="Organization Logo" class="logo" />
          <div class="navigation">
            <input
              id="navi-toggle"
              type="checkbox"
              class="navigation__checkbox"
            />
            <label for="navi-toggle" class="navigation__button">
              <span class="navigation__icon">&nbsp;</span>
            </label>
            <div class="navigation__background">&nbsp;</div>
            <nav class="navigation__nav">
              <ul class="navigation__list">
                <li class="navigation__item">
                  <a href="index.html" class="navigation__link">الصفحة الرئيسية</a>
                </li>
                <li class="navigation__item">
                  <a href="projects.html" class="navigation__link">مشاريع</a>
                </li>
                <li class="navigation__item">
                  <a href="members.html" class="navigation__link">الأعضاء</a>
                </li>
                <li class="navigation__item">
                  <a href="about.html" class="navigation__link">حول</a>
                </li>
                
                </li>
              </ul>
            </nav>
          </div>
          <ul class="list">
            <li class="list__item">
              <a href="about.html" class="list__link">حول</a>
            </li>
            <li class="list__item">
              <a href="members.html" class="list__link">الأعضاء</a>
            </li>
            <li class="list__item">
              <a href="projects.html" class="list__link">مشاريع</a>
            </li>
            <li class="list__item">
              <a href="index.html" class="list__link">الصفحة الرئيسية</a>
            </li>
          </ul>
        </nav>
       
      </div>
      <!--./container-->
    </header>
    <main>
      <section class="section-members u-padding-bottom-big" >
        <div class="u-center-text">  
            <h2 class="secondary-heading u-margin-bottom-big">
              الاعضاء 
            </h2>
        </div><!--./u-center-text-->
        
        <div class="section-members__content " data-aos="fade-up">
                          
        <div class="card" >

          <div class="card__side card__side--front">
              <div class="card__picture ">
                <img src="img/Breaking-bad-Jessi.jpg" alt="Jessi">
              </div>

              <h4 class="card__heading">
                 <span class="card__heading-span card__heading-span--1 member__title">مساعد الطباخ</span>
              </h4>
              <h3 class="card__title member__name">جيسي بنكمان</h3>
              <div class="card__details member__bio">
                هذا النص هو مثال لنص اخر هذا النص هو مثال لنص اخر هذا النص هو مثال
                لنص اخر هذا النص هو مثال لشنص اخر هذا النص هذا النص هو مثال لنص اخر
                
              </div>

          </div>

          <div class="card__side card__side--back card__side--back-1">
             <h2 class="secondary-heading u-color-white u-margin-zero u-padding-top-bottom-medium">مواقع التواصل</h2>
             <div class="social-media">
              <a href="#" class="social-media__link">
              <img
                src="img/svg/facebook-circle.svg"
                alt=""
                class="social-media__icon"
              >
              </a>
              <a href="#" class="social-media__link u-margin-left-right">
                <img
                  src="img/svg/twitter-circle.svg"
                  alt=""
                  class="social-media__icon"
                >
                </a>
                <a href="#" class="social-media__link">
                  <img
                    src="img/svg/linkedin-circle.svg"
                    alt=""
                    class="social-media__icon"
                  >
                  </a>
            </div>
          </div>
      </div><!--./card-->

      <div class="card" >

        <div class="card__side card__side--front">
            <div class="card__picture ">
              <img src="img/Breaking-bad-gus-2.jpg" alt="member-3">
            </div>

            <h4 class="card__heading">
               <span class="card__heading-span card__heading-span--1 member__title">الرئيس</span>
            </h4>
            <h3 class="card__title member__name">جوستافو فرينغ</h3>
            <div class="card__details member__bio">
              هذا النص هو مثال لنص اخر هذا النص هو مثال لنص اخر هذا النص هو مثال
              لنص اخر هذا النص هو مثال لشنص اخر هذا النص هذا النص هو مثال لنص اخر
              
            </div>

        </div>

        <div class="card__side card__side--back card__side--back-1">
           <h2 class="secondary-heading u-color-white u-margin-zero u-padding-top-bottom-medium">مواقع التواصل</h2>
           <div class="social-media">
            <a href="#" class="social-media__link">
            <img
              src="img/svg/facebook-circle.svg"
              alt=""
              class="social-media__icon"
            >
            </a>
            <a href="#" class="social-media__link u-margin-left-right">
              <img
                src="img/svg/twitter-circle.svg"
                alt=""
                class="social-media__icon"
              >
              </a>
              <a href="#" class="social-media__link">
                <img
                  src="img/svg/linkedin-circle.svg"
                  alt=""
                  class="social-media__icon"
                >
                </a>
          </div>
        </div>
    </div><!--./card-->


    <div class="card" >

      <div class="card__side card__side--front">
          <div class="card__picture ">
            <img src="img/Breaking-bad-WW.jpg" alt="Walter White WW">
          </div>

          <h4 class="card__heading">
             <span class="card__heading-span card__heading-span--1 member__title">الطباخ</span>
          </h4>
          <h3 class="card__title member__name">والتر وايت</h3>
          <div class="card__details member__bio">
            هذا النص هو مثال لنص اخر هذا النص هو مثال لنص اخر هذا النص هو مثال
            لنص اخر هذا النص هو مثال لشنص اخر هذا النص هذا النص هو مثال لنص اخر
            
          </div>

      </div>

      <div class="card__side card__side--back card__side--back-1">
         <h2 class="secondary-heading u-color-white u-margin-zero u-padding-top-bottom-medium">مواقع التواصل</h2>
         <div class="social-media">
          <a href="#" class="social-media__link">
          <img
            src="img/svg/facebook-circle.svg"
            alt=""
            class="social-media__icon"
          >
          </a>
          <a href="#" class="social-media__link u-margin-left-right">
            <img
              src="img/svg/twitter-circle.svg"
              alt=""
              class="social-media__icon"
            >
            </a>
            <a href="#" class="social-media__link">
              <img
                src="img/svg/linkedin-circle.svg"
                alt=""
                class="social-media__icon"
              >
              </a>
        </div>
      </div>
  </div><!--./card-->


             
      
            
        </div><!--./section-tours-content-->
    </section>

    </main>
    <footer class="footer u-margin-top-big u-margin-zero">
      <div class="container--row"> جميع الحقوق محفوظة &copy; لشركة مبادر </div>
    </footer>
    <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
  <script>
    AOS.init({offset:200,duration:1000, });
  </script>
  </body>
</html>
