<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>مشاريعنا</title>
    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
    <link rel="stylesheet" href="css/main.css" />
    <link rel="shortcut icon" type="image/png" href="img/favicon.png" />
  </head>
  <body>
    <header class="header header--2 ">
      <div class="container--row">
        <nav class="navigation--disktop">
          <!--Navigation-->
          <img src="img/logo-white.png" alt="Organization Logo" class="logo" />
          <div class="navigation">
            <input
              id="navi-toggle"
              type="checkbox"
              class="navigation__checkbox"
            />
            <label for="navi-toggle" class="navigation__button">
              <span class="navigation__icon">&nbsp;</span>
            </label>
            <div class="navigation__background">&nbsp;</div>
            <nav class="navigation__nav">
              <ul class="navigation__list">
                <li class="navigation__item">
                  <a href="index.html" class="navigation__link">الصفحة الرئيسية</a>
                </li>
                <li class="navigation__item">
                  <a href="projects.html" class="navigation__link">مشاريع</a>
                </li>
                <li class="navigation__item">
                  <a href="members.html" class="navigation__link">الأعضاء</a>
                </li>
                <li class="navigation__item">
                  <a href="about.html" class="navigation__link">حول</a>
                </li>
                
                </li>
              </ul>
            </nav>
          </div>
          <ul class="list">
            <li class="list__item">
              <a href="about.html" class="list__link">حول</a>
            </li>
            <li class="list__item">
              <a href="members.html" class="list__link">الأعضاء</a>
            </li>
            <li class="list__item">
              <a href="projects.html" class="list__link">مشاريع</a>
            </li>
            <li class="list__item">
              <a href="index.html" class="list__link">الصفحة الرئيسية</a>
            </li>
          </ul>
        </nav>
        <div class=" section-hero-projects" >
          <h1 class="primary-heading">يوجد نص هنا</h1>
          <p class="section__hero__paragraph">
            و مثال لنص اخر هذا النص هو مثال
            لنص اخر هذا النص هو مثال لشنص اخر هذا النص هذا النص هو مثال لنص اخر
            هذا النص هو مثال
          </p>
        </div>
        <!--./section__hero-->
      </div>
      <!--./container-->
    </header>
    <main>
      <h2 class="primary-heading u-centered u-margin-top-medium" data-aos="fade-left">مشاريعنا</h2>
      <section class="our-projects container--row u-margin-top-big" data-aos="fade-right">
      
        <div class="project">
          <img src="img/project-1.jpg" alt="" class="project__image" />
          <h5 class="project__title">عنوان المشروع</h5>
          <p class="project__paragraph">
            هذا النص هو مثال لنص اخر هذا النص هو مثال لنص اخر هذا النص هو مثال
            لنص اخر هذا النص هو مثال لشنص اخر هذا النص هذا النص هو مثال لنص اخر
            هذا النص هو مثال
          </p>
          <a href="projectIN.html" class="btn project__btn">إطلع على المزيد</a>
        </div>
        <!--./project -->
       
        <div class="project">
          <img src="img/project-1.jpg" alt="" class="project__image" />
          <h5 class="project__title">عنوان المشروع</h5>
          <p class="project__paragraph">
            هذا النص هو مثال لنص اخر هذا النص هو مثال لنص اخر هذا النص هو مثال
            لنص اخر هذا النص هو مثال لشنص اخر هذا النص هذا النص هو مثال لنص اخر
            هذا النص هو مثال
          </p>
          <a href="projectIN.html" class="btn project__btn">إطلع على المزيد</a>
        </div>
        <!--./project -->
        <div class="project">
          <img src="img/project-1.jpg" alt="" class="project__image" />
          <h5 class="project__title">عنوان المشروع</h5>
          <p class="project__paragraph">
            هذا النص هو مثال لنص اخر هذا النص هو مثال لنص اخر هذا النص هو مثال
            لنص اخر هذا النص هو مثال لشنص اخر هذا النص هذا النص هو مثال لنص اخر
            هذا النص هو مثال
          </p>
          <a href="projectIN.html" class="btn project__btn">إطلع على المزيد</a>
        </div>
        <!--./project -->
        <div class="project">
          <img src="img/project-1.jpg" alt="" class="project__image" />
          <h5 class="project__title">عنوان المشروع</h5>
          <p class="project__paragraph">
            هذا النص هو مثال لنص اخر هذا النص هو مثال لنص اخر هذا النص هو مثال
            لنص اخر هذا النص هو مثال لشنص اخر هذا النص هذا النص هو مثال لنص اخر
            هذا النص هو مثال
          </p>
          <a href="projectIN.html" class="btn project__btn">إطلع على المزيد</a>
        </div>
        <!--./project -->
        <div class="project">
          <img src="img/project-1.jpg" alt="" class="project__image" />
          <h5 class="project__title">عنوان المشروع</h5>
          <p class="project__paragraph">
            هذا النص هو مثال لنص اخر هذا النص هو مثال لنص اخر هذا النص هو مثال
            لنص اخر هذا النص هو مثال لشنص اخر هذا النص هذا النص هو مثال لنص اخر
            هذا النص هو مثال
          </p>
          <a href="projectIN.html" class="btn project__btn">إطلع على المزيد</a>
        </div>
        <!--./project -->
        <div class="project">
          <img src="img/project-1.jpg" alt="" class="project__image" />
          <h5 class="project__title">عنوان المشروع</h5>
          <p class="project__paragraph">
            هذا النص هو مثال لنص اخر هذا النص هو مثال لنص اخر هذا النص هو مثال
            لنص اخر هذا النص هو مثال لشنص اخر هذا النص هذا النص هو مثال لنص اخر
            هذا النص هو مثال
          </p>
          <a href="projectIN.html" class="btn project__btn">إطلع على المزيد</a>
        </div>
        <!--./project -->
      </section>
      <!--./our-projects-->
    </main>
    <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
    <script>
      AOS.init({offset:200,duration:500});
    </script>
    <footer class="footer u-margin-top-big">
      <div class="container--row"> جميع الحقوق محفوظة &copy; لشركة مبادر </div>
    </footer>
  </body>
</html>
