//Colors
$primary-color: #2580bd;
$primary-color-dark: rgb(16, 79, 144);
$primary-color-light: #2991cd;

$color-white: #fff;
$color-black: #000;
$color-accent: #3b517c;

$secondary-color: #729ec3;
$secondary-color-light: #3fc4eb;
$secondary-color-dark: #2e6a97;

$color-tertiary-light: #2998ff;
$color-tertiary-dark: #5643fa;

$color-grey-light-1: #cdccde;
$color-grey-light-2: #949497;
$color-grey-light-3: #f7f7f7;
$color-grey-light-4: #e6e6e6;

$color-grey-dark: #21263a;
$color-gray-dark: #21263a;
$color-grey-dark-2: #999;
$color-grey-dark-3: #333;
